*{
    margin: 0;
    padding: 0;
}


#box1{
    background-color:brown;
    margin: 0;
    color: white;    
}


#box2{
     
     position: absolute;
     top: 5%;
     left: 10%;
}
#box3{
    /* position: fixed;
    top: 0;
    left: 0; */
    background-position: center;
    height:70vh;
    background-image:url(download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter:blur(2px) ;
}
.A{
    text-decoration: none;
    float:right;
    padding: 50px 20px 50px 50px; 
    /* padding-top: 6%;  */
    border-radius: 4px;
    text-align: center;
    color: rgb(245, 213, 210);
}
.A:hover{
    color: #d17409;
}
#box4{
    border: solid gray 5px;
    .b{
        position: absolute;
        right: 20px;
        top:600px ;
    }
}

    

    
}
